<main>
    <section class="banners">
      <div>
        <img src="/assets/images/example/fruits.jpeg" alt="Apples in a bunch" />
      </div>
      <div>
        <img src="/assets/images/example/berry.jpeg" alt="A bunch of berries" />
      </div>
      <div>
        <img src="/assets/images/example/banner-1.jpeg" alt="Slushy oranges" />
      </div>
      <div>
        <img src="/assets/images/example/banner-2.jpeg" alt="A diverse set of fruits" />
      </div>
    </section>
    <section class="product-area">
      <!-- TODO: Create product list component -->
    </section>
  </main>
